.calendar-container {
  width: 80vw;
  height: 95vh;
  margin: auto;
  background-color: white;
  border: solid 1px transparent;
}

.calendar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 20px;
  background-color: aliceblue;

  &__label {
    font-size: 2rem;
    font-weight: bold;
  }

  &__actions * {
    margin-right: 8px;
  }
}

.calendar-body {
  height: calc(100% - 70px);

  &__week-headers {
    width: 100%;
    height: 38px;
    background-color: darkolivegreen;
    display: flex;
  }

  &__week-item {
    flex: 1 1 0%;
    font-size: 1.5rem;
    text-align: center;
    height: 100%;
    border: solid 1px black;
    color: honeydew;
  }

  &__rows {
    display: flex;
    flex-direction: column;
    height: calc(100% - 40px);
  }

  &__row {
    display: flex;
    flex: 1 1 0%;
  }

  &__row-item {
    flex: 1 1 0%;
    height: 100%;
    border: solid 1px;
    font-size: 1.3rem;
    position: relative;

    &--inactive {
      background-color: lightgray;
    }
  }

  &__row-label {
    &--highlight {
      border-radius: 50px;
      background-color: orange;
    }
  }

  &__reminders {
    position: absolute;
    height: 50px;
    max-width: 150px;
    overflow: hidden;
    padding: 0 8px;

    &--smaller {
      height: 32px;
    }

    &--expanded {
      max-width: 280px;
      overflow: unset;
      left: 2px;
      border-radius: 4px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      padding: 8px;
      height: unset;
      background-color: white;
      z-index: 10;

      .calendar-body__close-expanded-reminder {
        display: block;
      }
    }
  }

  &__close-expanded-reminder {
    display: none;
    font-size: 14px;
    font-weight: bold;
    color: red;
    float: right;

    &:hover {
      cursor: pointer;
    }
  }

  &__reminder {
    display: flex;
    align-items: center;
    height: 16px;
    width: 100%;
    font-size: 12px;
    margin-bottom: 2px;
    border-radius: 2px;

    &:hover {
      cursor: pointer;
      background-color: lightgray;
    }
  }

  &__reminder-color {
    width: 10px;
    height: 10px;
    border-radius: 50px;
    margin-right: 4px;
    padding: 0 4px;
  }

  &__reminder-time {
    margin-right: 4px;
  }

  &__reminder-title {
    width: 80%;
    font-weight: bold;
    white-space: nowrap;
    text-overflow: clip;
    overflow: hidden;
  }

  &__reminder-more {
    display: none;
    width: 100%;
    font-size: 12px;
    font-weight: bold;
    padding: 0 8px;
    position: absolute;
    bottom: 0;

    &--visible {
      display: block;
    }

    &:hover {
      cursor: pointer;
      background-color: lightgray;
    }
  }
}